<form action="/tester/{{this.idTester}}/{{this.idTest}}" method="POST">
<input type="hidden" name="numberQuestions" value="{{this.questions.length}}">
  {{#each this.questions}}
  <p>{{question}}<br><small>{{nameExam}}</small></p>
  {{#each options}}
  <input type="radio" id="male" name="{{../id}}" value="{{this}}">
  <label for="{{this}}" style="color: black;">{{this}}</label><br>
  {{/each}}
  <br>
  {{/each}}
  <button type="submit" class="btn btn-custom btn-lg btn-block mt-3">Enviar</button>
</form>
