<p>Bienvenido {{this.email}}, para seguir con el proceso de aplicaci칩n la empresa {{this.code.user.company}} solicita que
contestes el siguiente conjunto de examenes que fue armado para la vacante de {{this.code.namePosition}}</p>

<p>Esta es la descripci칩n de la vacante: {{this.code.positionDescription}}</p>

{{#if this.answerTest}}
<p>El examen ya fue contestado, se pondr치n en contacto para el seguimiento de la vacante.</p>
{{else}}
<div>
Para empezar el examen, dar click al siguiente bot칩n:
<button style="background-color: green;"><a href="/tester/{{this._id}}/{{this.code._id}}" style="color: black;">Siguiente</a></button>
</div>
{{/if}}