{{#if this.userLog.name}}
Bienvenido {{this.userLog.name}}
<button><a href="/user-profile/create-test" style="color: black;">Crear Pruebas</a></button>
<form action="/logout" method="POST">
  <button type="submit">Cerrar Sesion</button>
</form>
{{#if this.findGroupTest}}
{{#each this.findGroupTest}}
<div style="border: 1px solid black;padding-bottom: 20px;">
  <form action="/delete-group-test/{{_id}}" method="POST">
    <button type="submit" style="background-color: red;">Eliminar</button>
  </form>
  <p>Nombre de la Evaluación: {{name}}</p>
  <p>Posicion: {{namePosition}}</p>
  <p>Departamento: {{department}}</p>
  <p>Aplicantes: {{testerEmail.length}}</p>
  <div>
    <p>Pruebas a Aplicar:</p>
    {{#each test}}
    {{this.name}} |
    {{/each }}
  </div>
  <button><a href="/user-profile/details/{{_id}}" style="color: black;">Detalle</a></button>
  <button><a href="/user-profile/create-test/{{_id}}" style="color: black;">Modificar</a></button>
</div>
{{/each}}
{{else}}
<p>No test created</p>
{{/if}}
{{else}}
User is not loggin
{{/if}}